In [1]:
# import pandas 
import pandas as pd

In [3]:
# read insurance data from file
dataset=pd.read_csv("insurance_pre.csv")

In [5]:
#dataset details
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [9]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [11]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [13]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [67]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [15]:
dependent=dataset[["charges"]]

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [17]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score
def decisionTreeRegressor_rscore(crt,spl,feat,X_train,X_test,y_train,y_test):    
    regressor=DecisionTreeRegressor(criterion=crt, splitter=spl,max_features = feat)
    regressor=regressor.fit(X_train,y_train)
    y_pred=regressor.predict(X_test)   
    r_score=r2_score(y_test,y_pred)
    return r_score

In [19]:
final_df = pd.DataFrame(columns=['Algorithim','Criterion','Splitter/Estimators','Max_features','R-Score'])

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
algorithim_name =  "DecisionTreeRegressor"
criterion_list = ['squared_error','friedman_mse','absolute_error','poisson']
splitter_list = ['best','random']
max_features_list = ['sqrt','log2',None]
for crt in criterion_list:
    for spl in splitter_list:
        for feat in max_features_list:            
            X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)
            r_scr = decisionTreeRegressor_rscore(crt,spl,feat,X_train,X_test,y_train,y_test)
            data_to_store = {'Algorithim' : "DecisionTreeRegressor",'Criterion' : crt ,'Splitter/Estimators' : spl ,'Max_features' : feat ,'R-Score' : r_scr}
            final_df.loc[len(final_df)] = data_to_store

In [170]:
# Best model in decision tree is squared_error,best,lo2 is 0.80

In [23]:
final_df.sort_values('R-Score',ascending = [False])

,Algorithim,Criterion,Splitter/Estimators,Max_features,R-Score
12,DecisionTreeRegressor,absolute_error,best,sqrt,0.751361
3,DecisionTreeRegressor,squared_error,random,sqrt,0.746541
10,DecisionTreeRegressor,friedman_mse,random,log2,0.731580
20,DecisionTreeRegressor,poisson,best,None,0.730564
11,DecisionTreeRegressor,friedman_mse,random,None,0.727279
19,DecisionTreeRegressor,poisson,best,log2,0.713161
13,DecisionTreeRegressor,absolute_error,best,log2,0.713075
17,DecisionTreeRegressor,absolute_error,random,None,0.711717
5,DecisionTreeRegressor,squared_error,random,None,0.703925
15,DecisionTreeRegressor,absolute_error,random,sqrt,0.698933
2,DecisionTreeRegressor,squared_error,best,None,0.696147
0,DecisionTreeRegressor,squared_error,best,sqrt,0.695729
1,DecisionTreeRegressor,squared_error,best,log2,0.690195
22,DecisionTreeRegressor,poisson,random,log2,0.688781
6,DecisionTreeRegressor,friedman_mse,best,sqrt,0.687327
8,DecisionTreeRegressor,friedman_mse,best,None,0.679676
14,DecisionTreeRegressor,absolute_error,best,None,0.672485
16,DecisionTreeRegressor,absolute_error,random,log2,0.657478
7,DecisionTreeRegressor,friedman_mse,best,log2,0.657049
23,DecisionTreeRegressor,poisson,random,None,0.638344
9,DecisionTreeRegressor,friedman_mse,random,sqrt,0.621201
4,DecisionTreeRegressor,squared_error,random,log2,0.611998
18,DecisionTreeRegressor,poisson,best,sqrt,0.548047
21,DecisionTreeRegressor,poisson,random,sqrt,0.546943

In [25]:
final_df.to_csv("dt.csv")